<div id='home'>

	<h2 id='intro-header'>JIGSAW!</h2>

	<p id='intro'>
		Did you know that a London cartographer, John Spilsbury, is credited with commercializing jigsaw puzzles back around 1760? Neither did I until recently. They were apparently originally known as dissections - pretty disappointing that that name didn't stick around with them...
		<br>
		<br>
		Join in with this enduring pastime by clicking the button below - simply drag and drop the pieces to where you think is correct, then hit check when you think you've got it!
	</p>

	<br>
	<hr>
	<br>

	<button ng-click="changeView('/puzzle')">
  		SHOW ME THE PUZZLE
	</button>

</div>